<a ui-sref="content.photos.list" style="margin-left: 15px;">
	<i class="fa fa-arrow-circle-left fa-2x"></i>
</a>

<div ng-init="ctrPhotoDetail.init()">
	
	
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
			<img class="img-responsive img-rounded" ng-src="../assets/images/{{ctrPhotoDetail.photo.imageName}}"
				 style="margin:auto; width: 90%;">
			<div class="well well-sm" style="margin:auto; width: 90%; margin-top: 15px;">
				<div class="well well-sm pull-right" style="width: 100px;">
					<i>Views <span class="badge">{{ctrPhotoDetail.viewObj.views}}</span></i>
				</div>
				<div class="well well-sm pull-right" style="width: 110px;">
					<i>Viewing <span class="badge">{{ctrPhotoDetail.viewObj.viewing}}</span></i>
				</div>

				<h4>{{ctrPhotoDetail.photo.title}}</h4>
				<p>{{ctrPhotoDetail.photo.description}}</p>	
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
			<div style="margin:auto; width: 90%; margin-bottom: 15px;">
				<button style="margin-top: 10px; width:100%;"
						class="btn btn-default" ui-sref=".comment()">Comments</button>
			</div>
			<div ui-view class="slide-top"></div>
		</div>
	</div>					
</div>


